*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {
    color: crimson;
}

a:visited {
    color: crimson;
}

a:hover {
    color: blue;
}

a:active {
    color: crimson;
}

h1{
    background-color: crimson;
    color: white;
    border: 0px solid black;
    border-radius: 100px;
    width: 50%;
    margin: auto;
    text-align: center;
}

h2{
    background-color: black;
    color: yellow;
    border: 0px solid black;
    border-radius: 100px;
    text-align: center;
}

.jan, .feb, .mar, .apr, .may, .june, .july{
    width: 25%;
    float: left;
}

ol{
    background-color: whitesmoke;
    border: 0px solid black;
    overflow: scroll;
    height: 20%;
}

.top3 {
    color: crimson
}

body {
    background-image: url(body%20background.jpg);
    background-attachment: fixed;
}


@media only screen and (max-width: 1080px) {
    body {
        background-image: url(potrait%20bg.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}
