* {
    box-sizing: border-box;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: cursive;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-size: 30px;
}

a:visited {
    color: inherit;
}

h2 {
    margin-top: 15px;
    width: 375px;
    text-align: center;
}

ol {
    margin-top: -15px;
    width: 375px;
    height: 20%;
    overflow: scroll;
}

.top {
    font-size: 20px;
    color: crimson;
}

.aug17, .may17, .july17, .june17 {
    float: left;
    margin: 0px 10px 0px 10px;
}

a .hide {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
}

a:hover .hide {
    display: inherit;
}

body {
    background-image: url(img/Background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

ol {
    background-color: whitesmoke;
}

